
/*
*  设置滚动条样式 
*/

/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 8px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgb(216, 233, 255);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
}
/* 非激活窗口 */
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(216, 233, 255);
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(40px, auto);

}

.tool {
    grid-column: 1 / 3;
    grid-row: 1;
    /* background: #19CAAD; */
    border-style: solid;
    border-color: #2dbeea;
}

.file {
    grid-column: 3 / 5;
    grid-row: 1;
    /* background: #19CAAD; */
    border-style: solid;
    border-color: #2dbeea;
}



.attr-list {
    grid-row: 2 / 7;
    grid-column: 1;
    /* background: #D1BA74; */
    border-style: solid;
    border-color: #0db4e7;
    /* overflow-y: auto; */

    
}

#contextpanel{
    grid-column: 2/5;
    grid-row: 2 / 7;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(70px, auto);
    border-style: solid;
    border-color: #2dbeea; 

}
.sketchpad {
    grid-column: 1;
    grid-row: 1 / 4;
     /* background: #8CC7B5;  */
     border-style: solid;
  border-color: #2dbeea; 
}

.histogram {
     grid-column: 1;
    grid-row: 4/7;
     /* background: #BEE7E9;  */
     border-style: solid;
    border-color: #2dbeea; 
}
/* .controlPanel{
    grid-column: 2;
    grid-row: 4/7;
     background: #BEE7E9; 
    border-style: solid;
    border-color: #2dbeea;
} */

.item {
    text-align: center;
    font-size: 100%;
    color: #000;
}

.gridc {
    width:100%;
    height:100%;
    position:absolute;

    background-color: transparent;
    background-size: 15px 15px;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
}

.echart-rgb-box {
    float: left;
    width: 33%;
    height: 100%;
}

.echart-gray-box {
    width: 100%;
    height: 100%;
}

